{% include "header.html" %}
        <!-- Main Component -->
        <div class="main">
            <nav class="navbar navbar-expand px-3 border-bottom">
                <!-- Button for sidebar toggle -->
                <button class="btn" type="button" data-bs-theme="dark">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <main class="content px-3 py-2">
                <div class="container-fluid">
                    <div class="mb-3">

                        <div class="login-wrapper">
                            <form class="row g-3" method='POST'>
                                {% csrf_token %}
                                <div class="col-md-6">
                                    <label for="inputEmail4" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="inputEmail4" name="name"  style="background-color:white;">
                                </div>
                                <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Contact N.o</label>
                                    <input type="number" class="form-control" id="inputPassword4" name='contact' style="background-color:white;">
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress" class="form-label">Arrival</label>
                                    <input type="text" class="form-control" id="inputAddress" name="arrival" style="background-color:white;"
                                        >
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Departure</label>
                                    <input type="text" class="form-control" id="inputAddress2" name='departure' style="background-color:white;"
                                        >
                                </div>
                                <div class="col-md-6">
                                    <label for="inputCity" class="form-label">Pax</label>
                                    <input type="text" class="form-control" id="inputCity" name='pax' style="background-color:white;">
                                </div>
                                <div class="col-md-4">
                                    <label for="inputState" class="form-label">Stay Type</label>
                                    <input type="text" class="form-control" name='stay_type' style="background-color:white;">
                                </div>
                                <div class="col-md-2">
                                    <label for="inputZip" class="form-label">Package</label>
                                    <input type="text" class="form-control" id="inputZip" name='package' style="background-color:white;">
                                </div>
                                <div class="col-md-7">
                                    <label for="inputCity" class="form-label">Tariff</label>
                                    <input type="text" class="form-control" id="inputCity" name='tariff' style="background-color:white;">
                                </div>
                                <div class="col-md-5">
                                    <label for="inputZip" class="form-label">Advance</label>
                                    <input type="number" class="form-control" id="inputZip" name='advance' value="0" style="background-color:white;">
                                </div>


                                <div class="col-md-12">
                                        <label for="floatingTextarea">Remarks</label>
                                        <textarea class="form-control"
                                            id="floatingTextarea"  name='remarks' ></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
                                        <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5z"/>
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1"/>
                                      </svg> Add Data</button>
                                </div>
                            </form>
                        </div>


                    </div>
            </main>
        </div>
    </div>
{% include "footer.html" %}